<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12" class="p-flex align-center justify-sb">

                <ul>
                    <li class="p-hamburger">
                        <span id="span-one"></span>
                        <span id="span-two"></span>
                        <span id="span-three"></span>
                    </li>
                    <li>
                        <img src="assets/icons/png/003-search.png" alt="Search Icon" width="20">
                    </li>
                    <!-- <li>
                        <img src="assets/mycollection/png/001-burger.png" alt="Buger Icon" width="20">
                    </li> -->
                </ul>
                <ul>
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Portfolio</a>
                    </li>
                    <li>
                        <a href="#">Reach </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>