<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12" class="p-flex align-center justify-sb">

                <ul>
                    <li class="p-hamburger">
                        <span id="span-one"></span>
                        <span id="span-two"></span>
                        <span id="span-three"></span>
                    </li>
                    <li>
                        <img src="assets/icons/png/003-search.png" alt="Search Icon" width="20">
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="#" [routerLink]="['/']" [routerLinkActive]="['is-active']">Home</a>
                    </li>
                    <li>
                        <a href="#" [routerLink]="['/about']" [routerLinkActive]="['is-active']">About</a>
                    </li>
                    <li>
                        <a href="#" [routerLink]="['/portfolio']" [routerLinkActive]="['is-active']">Portfolio</a>
                    </li>
                    <li>
                        <a href="#" [routerLink]="['/reach']" [routerLinkActive]="['is-active']">Reach </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>