header {
    padding: 30px 0;

        & ul {
            display: flex;
            align-items: center;

        & li {
            padding: 0 40px;

            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }
            & a {
                color: var(--light-first);
                background-color: transparent;
                font-weight: 500;
                position: relative;

                &::after {
                    content: "";
                    background-color: var(--first-accent);
                    height: 10px;
                    position: absolute;
                    width: 100%;
                    left: 10px;
                    bottom: -2px;
                    z-index: -1;
                }
                &:hover::after {
                    content: "";
                    background-color: var(--second-accent);
                    height: 10px;
                    position: absolute;
                    width: 100%;
                    left: 10px;
                    bottom: -2px;
                    z-index: -1;
                }
            }
        }
    }
}
.align-center {
    align-items: center;
}
.justify-sb {
    justify-content: space-between;
}
.is-active::after {
    content: "";
    background-color: var(--second-accent) !important;
    height: 10px;
    position: absolute;
    width: 100%;
    left: 10px;
    bottom: -2px;
    z-index: -1;
}
.p-hamburger {
    cursor: pointer;
    
    & span {
        width: 20px;
        height: 3px;
        background-color: var(--dark-first);
        display: block;
        margin-bottom: 4px;

        &:nth-child(2) {
            width: 10px;
        }
        &:last-child {
            margin-bottom: 0;
            width: 17px;
        }
    }
}

.p-hamburger:hover #span-one,
.p-hamburger:hover ~ #span-one {
    animation: up ease-in-out 0.5s 1;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
.p-hamburger:hover #span-two,
.p-hamburger:hover ~ #span-two {
    animation: rotate linear 1s infinite;
}
.p-hamburger:hover #span-three,
.p-hamburger:hover ~ #span-three {
    animation: down ease-in-out 0.5s 1;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
@keyframes up {
    to { transform: translateY(-3px) }
}
@keyframes rotate {
    to { transform: rotate(360deg) }
}
@keyframes down {
    to { transform: translateY(3px) }
}

.p-flex {
    display: flex;
}
