<header class="">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <ul>
                    <li class="p-hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </li>
                    <li>
                        <img src="assets/mycollection/png/003-search.png" alt="Search Icon">
                        <img src="assets/mycollection/png/001-burger.png" alt="Search Icon">
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Portfolio</a>
                    </li>
                    <li>
                        <a href="#">Reach </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>