<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="p-profile">

                </div>
            </div>
            <div class="col-sm-7 p-rgt-sec">
                <div>
                    <span class="p-tag">Software Developer</span>
                    <h1 class="mt-4">Joé Chatelain</h1>
                    <p class="p-des mt-3 mb-4">Anything you want to do you can do here. We don't really know where this goes - and I'm not sure we really care. Just relax and let it flow. That easy. I will take some magic white, and a little bit of Vandyke brown and a little touch of yellow. By now you should be quite happy about what's happening here. You gotta think like a tree.</p>
                    <a href="#" class="p-readmore">Read More<img src="assets/icons/png/009-triangle-1.png" alt="Icon for read more" width="25px" class="ms-3"></a>
                </div>

                <div>
                    <h6>Subscribe to my Newsletter</h6>
                    <form class="form-inline" autocomplete="off">
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" placeholder="Enter your E-mail here" autocomplete="off">
                            <button class="btn btn-warning">Subscribe</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>