.p-profile {
    background: url(/src/assets/images/portrait.jpeg);
    transform: scaleX(-1);
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
.p-rgt-sec {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.p-tag {
    background-color: var(--second-accent);
    color: var(--light-first);
    padding: 5px 10px;
    font-size: 15px;
}
.p-readmore {
    color: var(--light-first);
    font-size: 20px;

    & img {
        transition: all .5s;
    }
}
.p-readmore:hover img,
.p-readmore:hover ~ img {
    transform: translateX(5px);
}
.p-des {
    color: var(--gray-first);
    width: 90%;
}

.form-group {
        box-shadow: 1px 2px 12px 1px var(--light-first);
        display: flex;
        width: 90%;
    }
.form-control {
        min-height: 60px; 
        padding: 10px 20px;
        border-radius: 0;
        border: 0;
        outline: none;
        box-shadow: none;
        background-color: var(--light-first);
        caret-color: var(--second-accent);
        color: var(--second-accent);
        width: calc(100% -141px);
    }
.btn-warning {
        min-height: 60px;
        border: 0;
        border-radius: 0;
        padding: 10px 35px;
        font-weight: 500;
        // background-color: var(--third-accent);
    }
